/* Style cho hình chính */
#main-image {
    background-color: #F5F7F4;
    max-height:400px;
    width: 100%;
}

/* Style cho hình phụ */
.thumbnail {
    border-radius: 20px;
    width: 80px;
    height: auto;
    cursor: pointer;
    margin-bottom: 5px;
}
  /* Style cho nút thêm/bớt sản phẩm */
  #quantity {
    font-size: 16px;
    margin: 0 10px;
}

#add-to-cart, #remove-from-cart {
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}
/* Style cho vùng bình luận */
#comments {
    margin-top: 20px;
}